body,html{
	font-family: "FZLTZCHK--GBK1-0";
	height:100%;
	width:100%;
	-webkit-text-size-adjust:none;
	background-color: white;
}
*{
	margin:0;
	padding: 0;
}
input, button, select, textarea {
outline: none;
-webkit-appearance: none;
border-radius: 0;
}
ul,li{
	list-style: none;
}
em,i{
	font-style:normal;
}
b{
	font-weight: normal;
}
